<% @likes.each do |like| %>
	<div class="box">
		<%= image_tag(like.link, class: "image-size") %>
		<!--<span class="title"><%#= link_to(like, class: "image-link") %></span>-->
		<span class="delete"><%= link_to("Delete Like", like, method: :delete, data: { confirm: 'Are you sure?' }, class: "image-link") %></span>
	</div>
<% end %>