<!--
<%= @response %>




<br>*****************
<br>*****************
<br>*****************
<br>*****************
<br>*****************
<%= @parsed %>

<br>****************
<br>****************
<br>****************
<br>****************
<br>****************
-->
<tbody>
	<%= @mapped.each do |array| %>
		<tr>
			<td><%= array %></td>
		</tr>
	<% end %>
</tbody>